# See http://help.github.com/ignore-files/ for more about ignoring files.

*.DS_Store

.eslintcache

dist/
node_modules/

# objects created by Makefile
.red-button-machine

# Temporary ignore of package-lock.json until first release
package-lock.json
