.LightArray {
}

.LightArray-list {
  display: grid;
  grid-template-columns: 10em 10em;
  gap: 10px;
  justify-items: center;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.LightArray-listItem {
  display: inline-block;
  margin: 0;
  padding: 0;
}
