.RedButtonTrainer {
  background-color: white;
  color: black;
  border: 2px solid currentColor;
  padding: 20px;
}
.RedButtonTrainer > * + * {
  margin-top: 20px;
}

.RedButtonTrainer-display {
}

.RedButtonTrainer-output {
}

.RedButtonTrainer-console {
  display: flex;
  align-items: center;
  justify-content: center;
}
